In [17]:
# import packages
from __future__ import print_function, division
from IPython.display import display, clear_output, Image

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time

In [18]:
def get_deviance(array):
    avg = sum(array) / len(array)
    deviance = 0
    for num in array:
        deviance += (num - avg)**2
    return deviance
def get_SS(array,lam):
    SS = sum(array)**2/(len(array)+lam)
    return SS

In [37]:
fname = "C:/Users/71401/Desktop/prob2.csv"
origin_df = pd.read_csv(fname)
# origin_df = origin_df[origin_df["Salary"] > 500]
origin_df

,Age,Home Owner,Car Owner,Having Kids,Salary,F0,PR0,F1,PR1,F2,PR2
0,40,Yes,Yes,Yes,10000,5875,4125,6287.5,3712.5,6475.000,3525.000
1,20,No,No,No,500,5875,-5375,5337.5,-4837.5,5095.625,-4595.625
2,50,Yes,No,Yes,8000,5875,2125,6087.5,1912.5,6275.000,1725.000
3,30,Yes,No,No,5000,5875,-875,5787.5,-787.5,5748.125,-748.125

In [30]:
origin_df = origin_df[origin_df["PR1"] > 0]
origin_df

   Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1
0   40        Yes       Yes         Yes   10000  5875  4125  6083.3  3916.7
2   50        Yes        No         Yes    8000  5875  2125  6083.3  1916.7

In [38]:
choise = "Yes"
tot_dev = 0
targets = ["Home Owner","Car Owner","Having Kids"]
for target in targets:
    print(target)
    yes = origin_df[origin_df[target] == choise]
    no  = origin_df[origin_df[target] != choise]
    print(yes,'\n', no)
    tot_dev = get_deviance(yes["PR1"]) + get_deviance(no["PR1"])
    print(tot_dev,'\n')

Home Owner
   Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1  \
0   40        Yes       Yes         Yes   10000  5875  4125  6287.5  3712.5
2   50        Yes        No         Yes    8000  5875  2125  6087.5  1912.5
3   30        Yes        No          No    5000  5875  -875  5787.5  -787.5

         F2       PR2
0  6475.000  3525.000
2  6275.000  1725.000
3  5748.125  -748.125
    Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1  \
1   20         No        No          No     500  5875 -5375  5337.5 -4837.5

         F2       PR2
1  5095.625 -4595.625
10260000.0

Car Owner
   Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1  \
0   40        Yes       Yes         Yes   10000  5875  4125  6287.5  3712.5

       F2     PR2
0  6475.0  3525.0
    Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1  \
1   20         No        No          No     500  5875 -5375  5337.5 -4837.5
2   50        Yes        No         Yes    8000  5875  2125  6087.5  1912.5
3   30        Yes        No          No    5000  5875  -875  5787.5  -787.5

         F2       PR2
1  5095.625 -4595.625
2  6275.000  1725.000
3  5748.125  -748.125
23085000.0

Having Kids
   Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1  \
0   40        Yes       Yes         Yes   10000  5875  4125  6287.5  3712.5
2   50        Yes        No         Yes    8000  5875  2125  6087.5  1912.5

       F2     PR2
0  6475.0  3525.0
2  6275.0  1725.0
    Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1  \
1   20         No        No          No     500  5875 -5375  5337.5 -4837.5
3   30        Yes        No          No    5000  5875  -875  5787.5  -787.5

         F2       PR2
1  5095.625 -4595.625
3  5748.125  -748.125
9821250.0

In [ ]:
choices = origin_df["Car Owner"].unique()
tot_dev = 0

target = 45

yes = origin_df[origin_df["Age"] < target]
no  = origin_df[origin_df["Age"] >= target]
# print(yes, no)
tot_dev = get_deviance(yes["Salary"]) + get_deviance(no["Salary"])
# print(tot_dev)

In [42]:
(4125+2125)/3

2083.3333333333335

In [31]:
choise = "Yes"
tot_dev = 0
lam = 1
targets = ["Home Owner","Car Owner","Having Kids"]
for target in targets:
    print(target)
    yes = origin_df[origin_df[target] == choise]
    no  = origin_df[origin_df[target] != choise]
    print(yes,'\n', no)
    tot_ss = get_SS(origin_df["PR1"],lam)
    gain = get_SS(yes["PR1"],lam) + get_SS(no["PR1"],lam) - tot_ss
#     print(get_SS(yes["Salary"],lam) , get_SS(no["Salary"],lam),gain,'\n')
    print(gain,'\n')

Home Owner
   Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1
0   40        Yes       Yes         Yes   10000  5875  4125  6083.3  3916.7
2   50        Yes        No         Yes    8000  5875  2125  6083.3  1916.7
 Empty DataFrame
Columns: [Age, Home Owner, Car Owner, Having Kids, Salary, F0, PR0, F1, PR1]
Index: []
0.0

Car Owner
   Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1
0   40        Yes       Yes         Yes   10000  5875  4125  6083.3  3916.7
    Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1
2   50        Yes        No         Yes    8000  5875  2125  6083.3  1916.7
-1835712.963333333

Having Kids
   Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1
0   40        Yes       Yes         Yes   10000  5875  4125  6083.3  3916.7
2   50        Yes        No         Yes    8000  5875  2125  6083.3  1916.7
 Empty DataFrame
Columns: [Age, Home Owner, Car Owner, Having Kids, Salary, F0, PR0, F1, PR1]
Index: []
0.0

In [26]:

lam = 1


targets = [25,35,45]

for target in targets:
    print(target)
    yes = origin_df[origin_df["Age"] < target]
    no  = origin_df[origin_df["Age"] >= target]
    print(yes, '\n',no)
    tot_ss = get_SS(origin_df["PR1"],lam)
    gain = get_SS(yes["PR1"],lam) + get_SS(no["PR1"],lam) - tot_ss
#     print(get_SS(yes["Salary"],lam) , get_SS(no["Salary"],lam),gain,'\n')
    print(gain,'\n')

25
   Age Home Owner Car Owner Having Kids  Salary    F0   PR0       F1      PR1
1   20         No        No          No     500  5875 -5375  5606.25 -5106.25
    Age Home Owner Car Owner Having Kids  Salary    F0   PR0       F1      PR1
0   40        Yes       Yes         Yes   10000  5875  4125  6083.30  3916.70
2   50        Yes        No         Yes    8000  5875  2125  6083.30  1916.70
3   30        Yes        No          No    5000  5875  -875  5831.25  -831.25
19290103.324875

35
   Age Home Owner Car Owner Having Kids  Salary    F0   PR0       F1      PR1
1   20         No        No          No     500  5875 -5375  5606.25 -5106.25
3   30        Yes        No          No    5000  5875  -875  5831.25  -831.25
    Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1
0   40        Yes       Yes         Yes   10000  5875  4125  6083.3  3916.7
2   50        Yes        No         Yes    8000  5875  2125  6083.3  1916.7
23091986.574666668

45
   Age Home Owner Car Owner Having Kids  Salary    F0   PR0       F1      PR1
0   40        Yes       Yes         Yes   10000  5875  4125  6083.30  3916.70
1   20         No        No          No     500  5875 -5375  5606.25 -5106.25
3   30        Yes        No          No    5000  5875  -875  5831.25  -831.25
    Age Home Owner Car Owner Having Kids  Salary    F0   PR0      F1     PR1
2   50        Yes        No         Yes    8000  5875  2125  6083.3  1916.7
2855610.2430000002